flask==2.3.2
flask-cors==4.0.0
flask-login==0.6.3

numpy==1.26.4
pandas==2.2.1
scikit-learn

matplotlib==3.8.3
seaborn==0.13.2

requests==2.31.0
beautifulsoup4==4.12.3

python-dotenv==1.0.1

gunicorn==21.2.0

